# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
env/
ENV/
env.bak/
venv.bak/

# Python IDE / tools
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject
*.swp
*.swo
*~

# Python coverage / tests
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter
.ipynb_checkpoints

# Sphinx / Mkdocs
docs/_build/
site/

# OS
.DS_Store
Thumbs.db

# Lean build artifacts
.lake/
lean_export/.lake/

# Data & Embeddings (Large Files)
**/data/
**/data/cleaned_decls.json
**/data/embeddings.npy
**/data/faiss.index

#FAISS
*.faiss
*.index